* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #2D2727;
}

main {
    background-color: #2D2727;
}

body {
    background-color: #2D2727;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 5%;
}

.navbar {
    list-style-type: none;
    padding: 0;
}

header nav img {
    height: 50px;
    width: auto;
}

.navbar li {
    display: inline-block;
    text-align: center;
    color: white;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.imageninformation {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 900px;
}

.imagenbienvenida {
    width: 1900px;
}

.imagenbienvenida2 {
    margin-bottom: 70px;
    width: 1900px
}

ul {
    list-style: none;
}

h1 {
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 50px;
    color: white;
}

h2 {
    margin-bottom: 50px;
    text-align: center;
    color: white
}

h6 {
    text-align: right;
    margin-right: 50px;
    color: white;
}

p {
    text-indent: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    color: white;
    margin-bottom: 50px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}


.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px;
    align-items: center;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.videos {
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr;
    gap: 5px;
}

.cardvideos {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
    background-color: #2D2727;
}

footer section {
    background-color: #2D2727;
}

footer img {
    margin-left: 20px;
    width: 50px
}


@media(max-width: 1024px) {
    .contenedor {
        font-size: 14px;
        display: grid;
        grid-template-columns: 1fr 1fr
    }
}

@media(max-width:768px){

    nav {.
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .navbar{
        display: flex;
    }

    h1{
        margin-top: 50px;
        margin-bottom: 10px;
        text-align: center;
    }

    .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: small;
    }

    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
    }

    h6 {
        text-align: center;
        margin-top: 15px;
        margin-left: 65px;
        margin-bottom: 5px;
    }
}

@media(max-width:425px){

    nav{
        font-size: 14px;
        margin-bottom: 220px;
    }

    .navbar{
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 35px;
    }

    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
    }

}

@media(max-width:375px) {

    .navbar{
        font-size: 12px;
    }

    h1 {
        font-size: 25px;
    }

    .contenedor {
        font-size: 12px;
    }

    footer {
        margin-right: 40px;
    }
}

@media(max-width:320px) {

    footer{
        align-items: center;
        margin-left: 25px;
    }
}