@media(max-width:375px) {
    header {
        .navbar {
            font-size: 12px;
        }
    }

    main {
        h1 {
            font-size: 25px;
            margin-left: 15px;
        }

        .information {
            img {
                width: 340px;
            }

            p {
                font-size: 8px;
            }

        }

        .contenedor {
            font-size: 12px;
        }

        .videos{
            img{
                width: 320px;
            }
        }
    }


footer {
    margin-right: 30px;

    .imagenes-footer {
        img {
            width: 40px;
        }
    }
    .texto-footer{
        h6{
            font-size: 9px;
        }
    }

}
}