main {
    background-color: $background-principal;

    main {

        .imagenbienvenida {
            width: 900px;
        }

        .imagenbienvenida2 {
            width: 1900px;
        }
    }
}