main {
    h1{
        text-align: center;
        letter-spacing: 2px;
        font-family: 'Delicious Handrawn', cursive;
        font-size: 50px;
        color: white;
        margin: 20px;
    }

        
}