body {
    background-color: $background-principal;
}

main {

    h1 {
        text-align: center;
        letter-spacing: 2px;
        font-family: 'Delicious Handrawn', cursive;
        font-size: 50px;
        color: white;
        margin-bottom: 10px;
    }

    .information {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        img {
            margin-left: 50px;
            margin-bottom: 30px;
            width: 900px;
        }

        p {

            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            font-weight: bold;
            font-style: normal;
            color: white;
            margin-bottom: 20px;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
        }
    }
}